@font-face {
  font-family: "Atomic";
  src: url(../public/fonts/a_atomic_md/aAtomicMd.otf);
}

@font-face {
  font-family: "Atomic";
  src: url(../public/fonts/a_atomic_md/aAtomicMd.ttf);
}

@font-face {
  font-family: "SF-Bold";
  src: url(../public/fonts/SFUIDisplay/SFUIDisplay-Heavy.otf);
}

@font-face {
  font-family: "SF-Medium";
  src: url(../public/fonts/SFUIDisplay/SFUIDisplay-Bold.ttf);
}

@font-face {
  font-family: "SF-Regular";
  src: url(../public/fonts/SFUIDisplay/SFUIDisplay-Regular.otf);
}

@font-face {
  font-family: "SF-Light";
  src: url(../public/fonts/SFUIDisplay/SFUIDisplay-Light.ttf);
}

@font-face {
  font-family: "Aeonik-Medium";
  src: url(../public/fonts/Aeonik-Medium.otf);
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../public/fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF-Light", sans-serif !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 1px !important;
  height: 60px !important;
  width: 4px !important;
  background: #333;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -2px !important;
  border-radius: 100%;
  background: #c35427;
}

#fp-nav ul {
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  gap: 50px 0;
}

.atomic {
  font-family: "Atomic", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.sf_regular {
  font-family: "SF-Regular", sans-serif;
}

.sf_light {
  font-family: "SF-Light", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #5f5f5f;
}

section {
  height: 100vh;
}

.f-11 {
  font-size: 11px;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px;
}

.f-17 {
  font-size: 17px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-23 {
  font-size: 23px;
}

.f-34 {
  font-size: 34px;
}

.f-25 {
  font-size: 25px;
}

.f-26 {
  font-size: 26px;
}

.f-29 {
  font-size: 29px;
}

.f-30 {
  font-size: 30px;
}

.f-40 {
  font-size: 40px;
}

.f-45 {
  font-size: 45px;
}

.f-60 {
  font-size: 60px;
}

.f-65 {
  font-size: 65px;
}

.f-67 {
  font-size: 67px;
}

.f-70 {
  font-size: 70px;
}

.f-100 {
  font-size: 100px;
}

.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.line1 {
  line-height: 1.1;
}

.line12 {
  line-height: 1.2;
}

.line13 {
  line-height: 1.3;
}

.line11 {
  line-height: 1;
}

.line16 {
  line-height: 16px;
}

.line20 {
  line-height: 20px;
}

.line21 {
  line-height: 21px;
}

.line22 {
  line-height: 22px;
}

.line24 {
  line-height: 24px;
}

.line26 {
  line-height: 26px;
}

.line60 {
  line-height: 60px;
}

.line70 {
  line-height: 70px;
}

.lettspa {
  letter-spacing: 1px;
}

.lettspa2 {
  letter-spacing: 2px;
}

.mx-w-7xl {
  max-width: 1100px;
  margin: 0 auto;
}

.txtgredent {
  font-family: SF-Medium, sans-serif;
  background: linear-gradient(90deg, #c35427 0, #ea9c2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  color: #212529;
}

.fp-warning,
.fp-watermark {
  display: none !important;
}

/* media Query */

@media only screen and (max-width: 991px) {
  .f-70 {
    font-size: 50px;
  }

  .f-100 {
    font-size: 75px;
  }

  .f-65 {
    font-size: 55px;
  }

  .f-60 {
    font-size: 45px;
  }

  .f-24 {
    font-size: 20px;
  }

  .fp-table {
    height: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .f-70 {
    font-size: 40px;
  }

  .f-100 {
    font-size: 65px;
  }

  .f-29 {
    font-size: 20px;
    line-height: 1.2;
  }

  .f-60 {
    font-size: 38px;
  }

  .line22 {
    line-height: 20px;
  }

  .f-16 {
    font-size: 14px;
  }

  .f-34 {
    font-size: 30px;
  }

  .f-15 {
    font-size: 13px;
  }

  .f-17 {
    font-size: 14px;
  }

  .f-65 {
    font-size: 42px;
  }

  .f-67 {
    font-size: 45px;
  }

  #fp-nav ul {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .f-24 {
    font-size: 15px;
  }

  .f-100 {
    font-size: 53px;
  }

  .f-60 {
    font-size: 30px;
  }

  .f-16 {
    font-size: 12px;
  }

  .f-15 {
    font-size: 12px;
    line-height: 1.5;
  }

  .f-18 {
    font-size: 14px;
  }

  .f-34 {
    font-size: 25px;
  }

  .f-20 {
    font-size: 16px;
    line-height: 1.4 !important;
  }

  .f-67 {
    font-size: 35px;
  }

  .line70 {
    line-height: 35px;
  }

  .line24 {
    line-height: 19px;
  }

  .fp-section {
    height: auto !important;
  }
}
